*{
  --IntercomPurple : RGB(135,	113,	222);
  --AppFont: arial;
  --UIThemeFontColor: RGB(135,	113,	222);
  --UIThemeFontCompColor: white;
}

html {
  height: 95%;
}

/* <body> */
.body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* <div> */
.interfaceContainer {
  display: flex;
  flex: 1;
}

/*--------userNavbar styles--------*/

/* <div> */
.userNavbarContainer {
  display: flex;
}

/* <nav> */
.userNavbar {
  background-color: var(--IntercomPurple);
  color: white;
  flex: 1;
  display: flex;
}

/* <ul> */
.userNavbar__list {
  font-family: arial;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
}

/* <li> */
.userNavbar__list li:last-child {
  text-align: center;
  flex: 3;
}

/* <li> */
.userNavbar__listitems {
  display: inline-block;
  padding-top: 15px;
  margin-left: 10px;
  margin-right: 20px;
  flex: 1;
}

/* <li> */
.userNavbar__listitems--appName {
  font-family: helvetica;
  font-size: 25px;
  flex: 1;
}

/* <img> */
.userNavbar__avatar {
  height: 30px;
  width: 30px;
  padding-top: 15px;
}

/*--------Conversation List Styles--------*/
/* <aside> */
.conversations {
  display: inline-block;
  vertical-align: top;
  border: .5px solid;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* <nav> */
.conversations__navbar {
  border-bottom: 1px solid gray;
  flex: 1;
}

/* <ul> */
.conversations__navbar--list {
  list-style-type: none;
  margin-left: 20px;
  padding-left: 0;
}

/* <li> */
.conversations__navbar--listitem {
  display: inline-block;
  color:  var(--IntercomPurple);
  font-family: arial;
  margin-left: 0px;
}

/* <li> */
.conversations__navbar--listitemright{
  float: right;
  margin-right: 20px;
}

/* <div> */
.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--IntercomPurple);
  vertical-align: middle;
  margin-left: 2px;
}

/* <div> */
.conversations__listcontainer {
  flex: 18;
  display: flex;
  flex-direction: row;
}

/* <ul> */
.conversations__list {
  display: flex;
  flex: 1;
  flex-direction: column;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0;
}

/* <li> */
.conversations__listitem {
  border-bottom: .25px solid #E1BEE7;
  background-color: #F3E5F5;
  flex: 1;
  font-family: var(--AppFont);
  color: var(--UIThemeFontColor);
  line-height: .5;
  max-height: 10%;
  min-height: 20px;
  padding-top: 2%;
  padding-left: 2%;
  display: flex;
}

/* <span> */
.conversations__listitem--text {
  align-self: center;
}

/* <input> */
.conversations__listitem--checkbox {
  align-self: center;
}

/*--------Active Conversation Styles--------*/

/* <section> */
.activeConvo {
  flex: 4;
  display: flex;
  flex-direction: column;
  border: .5px solid;
}

/* <div> */
.activeConvo__chat {
  flex: 18;
  display: flex;
  flex-direction: column;
}

/* <div> */
.activeConvo__chat--window {
  flex: 4;
}

/* <nav> */
.activeConvo__navbar {
  flex: 1;
  border-bottom: 1px solid gray;
}

/* <ul> */
.activeConvo__navbar--list {
  list-style-type: none;
  display: flex;
}

/* <li> */
.activeConvo__navbar--listitem {
  display: inline-block;
  color:  var(--IntercomPurple);
  font-family: arial;
  flex: 1;
  text-align: center;
}

/* <li> */
.activeConvo li:first-child {
  text-align: left;
}

/* <li> */
.activeConvo__navbar--list li:last-child {
  text-align: right;
  padding-right: 40px;
}

/* <form> */
.activeConvo__chatform {
  flex: 1;  /*extend to end of div*/
  display: flex;
  padding-top: 20px;
  width: 100%;
}

/* <textarea> */
.activeConvo__chat--input {
  flex: 15;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  display: inline-block;
}

/* <button> */
.activeConvo__chat--sendbutton {
  flex: 1;
  margin-right: 20px;
  height: 20%;
  display: inline-block;
  align-self: flex-end;
  margin-bottom: 10px;
  margin-left: 3px;
}
