*{
  --IntercomPurple : RGB(135,	113,	222);
}

html {
  height: 95%;
}

.body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chatcontainer {
  display: flex;
  flex: 1;
}

/*--------userNavbar styles--------*/

/* <div> */
.userNavbarContainer {
  display: flex;
}

/* <nav> */
.userNavbar {
  background-color: var(--IntercomPurple);
  color: white;
  flex: 1;
  display: flex;
}

/* <ul> */
.userNavbar__list {
  font-family: arial;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
}

/* <li> */
.userNavbar__list li:last-child {
  text-align: center;
  flex: 3;
}

/* <li> */
.userNavbar__listitems {
  display: inline-block;
  padding-top: 15px;
  margin-left: 10px;
  margin-right: 20px;
  flex: 1;
}

/* <li> */
.userNavbar__listitems--appName {
  font-family: helvetica;
  font-size: 25px;
  flex: 1;
}

/* <img> */
.userNavbar__avatar {
  height: 30px;
  width: 30px;
  padding-top: 15px;
}

/*--------Conversation List Styles--------*/
/* <aside> */
.convoList {
  display: inline-block;
  vertical-align: top;
  border: .5px solid;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* <nav> */
.convoList__navbar {
  border-bottom: 1px solid gray;
  flex: 1;
}

/* <ul> */
.convoList__navbar--list {
  list-style-type: none;
  margin-left: 20px;
  padding-left: 0;
}

/* <li> */
.convoList__navbar--listitem {
  display: inline-block;
  color:  var(--IntercomPurple);
  font-family: arial;
  margin-left: 0px;
}

/* <li> */
.convoList__navbar--listitemright{
  float: right;
  margin-right: 20px;
}

/* <div> */
.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--IntercomPurple);
  vertical-align: middle;
  margin-left: 2px;
}

/* <div> */
.convoList__conversationitems {
  flex: 18;
}

/*--------Active Conversation Styles--------*/

/* <div> */
.activeConvo__chat {
  flex: 18;
  display: flex;
  flex-direction: column;
}

/* <div> */
.activeConvo__chat--window {
  flex: 4;
}
/* <section> */
.activeConvo {
  flex: 2;
  display: flex;
  flex-direction: column;
  border: .5px solid;
}

/* <nav> */
.activeConvo__navbar {
  flex: 1;
  border-bottom: 1px solid gray;
}

/* <ul> */
.activeConvo__navbar--list {
  list-style-type: none;
  display: flex;
}

/* <li> */
.activeConvo__navbar--listitem {
  display: inline-block;
  color:  var(--IntercomPurple);
  font-family: arial;
  flex: 1;
  text-align: center;
}

/* <li> */
.activeConvo li:first-child {
  text-align: left;
}

/* <li> */
.activeConvo__navbar--list li:last-child {
  text-align: right;
  padding-right: 40px;
}

/* <form> */
.activeConvo__chatform {
  align-self: flex-end; /*align to bottom of div*/
  flex: 1;  /*extend to end of div*/
  display: flex;
  padding-top: 20px;
  /*padding-bottom: 10px;*/
  height: 50%;
  width: 80%;
  display: block;
}

/* <textarea> */
.activeConvo__chat--input {
  height: 90%;
  width: 80%;
  /*align-self: flex-end;*/
  margin-left: auto;
  margin-right: auto;
}
