
/* All other css files will have access to the variables declared below */
*{
  --AppFont: arial;
  --UIThemeFontColor: #1976D2;
  --UIMainColor: #1976D2;
  --UICompMainColor: #BBDEFB;
  --UIThemeFontCompColor: white;
}

/* <body> */
html,body {
  height: 99%;
}

body {
  display: flex;
}

.appDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
}
