--UIThemeFontColor: #1976D2;

.userNavbarContainer {
  flex: 1;
  display: flex;
}

/* <nav> */
.userNavbar {
  background-color: blue;
  color: white;
  flex: 1;
  display: flex;
}

/* <ul> */
.userNavbar__list {
  font-family: arial;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
}

/* <li> */
.userNavbar__list li:last-child {
  text-align: right;
  flex: 3;
}

/* <li> */
.userNavbar__listitems {
  display: inline-block;
  padding-top: 15px;
  margin-left: 10px;
  margin-right: 20px;
  flex: 1;
}

/* <li> */
.userNavbar__listitems--appName {
  font-family: helvetica;
  font-size: 25px;
  flex: 1;
}

/* <img> */
.userNavbar__avatar {
  height: 30px;
  width: 30px;
  padding-top: 10px;
  padding-bottom: 5px;
}
